@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Qwitcher+Grypen:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.logo {
    width: 70px;
}

.mynav .nav-link:hover {
    background-color: #c6ac96;
}

.main {
    height: 100vh;
    width: 100%;
}

.wrapper, .slide {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: block;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background-color: lightgray;
    z-index: 110;
}

.slide.active {
    display: block;
    opacity: 1;
    opacity: 120;
}

.slide .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.slide .image-data {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.image-data span.text {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 30px;
}

.image-data h2 {
    font-size: 60px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-data p {
    margin-bottom: 20px;
}

a.button {
    display: inline-block;
    padding: 10px 30px;
    background: #c6ac96;
    text-decoration: none;
    color: white;
    border-radius: 6px;
    transition: all 0.5s ease-out;
}

a.button:hover {
    background: #2b2a2a;
}

.nav-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
}

.nav-btn:hover {
    background: rgba(255, 255, 255, 0.4);
}

/* .swiper-button-next {
    
}
.swiper-button-prev {
    
} */

.nav-btn::before, .nav-btn::after {
    font-size: 25px;
    color: #fff;
}

.swiper-pagination-bullet {
    opacity: 1;
    height: 12px;
    width: 12px;
    background-color: #fff;
}

.swiper-pagination-bullet-active {
    border: 2px solid #fff;
    background-color: #c6ac96;
}

.welcome-msg h2 {
    font-size: 48px;
}

.welcome-msg h5 {
    font-size: 26px;
    color: #3e3c3c;
}

.welcome-msg p {
    color: #4e4b4b;
}

.third-div {
    background:  #e3d9d0;
    height: 100%;
}

.img-fluid .priest img{
    width: 800px;
}

.fourth-div {
    background-image: url('images/empty-christian-church-building.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
    position: relative;
}

.fourth-div::before {
    content: "";
    position: absolute;
    height: 50vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
}

.join-our p, h5, h1, .view-btn {
    position: relative;
    z-index: 4000;
}

.join-our p {
    margin-bottom: 40px;
}

.view-btn {
    padding: 12px 20px;
    text-decoration: none;
    color: white;
    background-color: #c6ac96;
    border-radius: 6px;
    transition: all 0.5s ease-out;
}

.view-btn:hover {
    background-color: #2b2a2a;
}

.fifth-div {
    background-color: #e3d9d0;
}

.fifth-div h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.fifth-div h4 {
    font-size: 28px;
}

.fifth-div p {
    max-width: ;
}

.charity-div1 {
    background-image: url('images/medium-shot-smiley-african-boys-playing-together.jpg');
    background-size: cover;
    background-position: ;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: 100vh;
    padding-top: 0px;
    position: relative;
    z-index: 300;

}

.charity-div1::before {
    content: "";
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 0;
}

.flood {
    z-index: 300;
    align-content: center;
}

.help-div {
    z-index: 300;
    padding-top: 210px;
}

.help-div h6 {
    color: white;
    font-weight: 600;
    z-index: 300;
}

.charity-txt {
    color: #c6ac96;
    font-size: 75px;
    font-weight: 800;
}

.help-div p {
    color: #f9e7e7;
    z-index: 300;
    padding-bottom: 10px;
    line-height: 30px;
    font-size: 18px;
}

.read-btn {
    padding: 10px 30px;
    background: #c6ac96;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.5s ease-out;
}

.read-btn:hover {
    background-color: #2b2a2a;
}

.charity-div2 {
    background-image: url('images/volunteer-selecting-organizing-clothes-donations-charity.jpg');
    background-size: cover;
    background-position: ;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: 90vh;
    padding-top: 0px;
    position: relative;
    z-index: 300;
}

.charity-div2::before {
    content: "";
    height: 90vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 0;
}

.charity-div2 h2 {
    color: white;
    font-size: 38px;
    font-weight: 600;
}

.charity-div3 {
    background-image: url('images/black-son-holding-fathers-hand.jpg');
    background-size: cover;
    background-position: ;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: 90vh;
    padding-top: 0px;
    position: relative;
    z-index: 300;
}

.charity-div3::before {
    content: "";
    height: 90vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 0;
}

.charity-div3 h2 {
    color: white;
    font-size: 38px;
    font-weight: 600;
}

.help-list {
    margin-bottom: -6px;
}

.charity-bg-div {
    background-image: url('images/different-people-doing-volunteer-work-with-food.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: ;
    background-attachment: fixed;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    z-index: 700;
}

.charity-bg-div::before {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    height: 100%;
    width: 100%;
    z-index: 3;
}

.charity-row {
    z-index: 700;
}

.charity-div4 h6 {
    font-size: 22px;
    font-weight: 500;
}

.charity-div4 h6 span {
    font-size: 30px;
    font-weight: 700;
    color: #c6ac96;
}

.charity-div4 p {
    font-size: 14px;
    color: #707070;
}

.charity-div4 h5 {
    font-weight: 600;
}

.donate {
    border: 5px solid #ddd;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 450px;
}

.donate-btn {
    background-color: #c6ac96;
    color: white;
    transition: all 0.5s ease-out;
}

.donate-btn:hover {
    background-color: #2b2a2a;
    color: white;
}

.donate-btn1 {
    background-color: #c6ac96;
}

.card {
    overflow: hidden;
    cursor: pointer;
    background-color: #eeeeee;
}

.donate-img {
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 10;
}

.card-img-wrapper {
    overflow: hidden;
}

.donate-img:hover {
    transform: scale(1.1);
}

.card:hover .card-img-wrapper img {
    transform: scale(1.1);
    cursor: pointer;
}

.progress, .progress-bar, .btn {
    border-radius: 0 !important;
}

@media (max-width:767px) {

    .logo {
        width: 60px;
    }

    .main {
        height: 70vh;
    }

    .image-data span.text {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 30px;
    }
    
    .image-data h2 {
        font-size: 22px;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
    } 
    
    .image-data p {
        font-size: 14px;
    }

    .welcome-row {
        flex-direction: column-reverse;
    }

    .welcome-msg {
        margin-top: 10px;
    }

    .welcome-msg h2 {
        font-size: 30px;
    }

    .welcome-msg h5 {
        font-size: 18px;
    }

    .welcome-msg p {
        font-size: 14px;
    }

    .third-div {
        height: 100%;
    }

    .fourth-div, .charity-div1, .charity-div2, .charity-div3, .charity-bg-div {
        background-attachment: scroll;
        background-position: center;
    }

    .charity-txt {
        font-size: 48px;
    }
}